_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
node_modules
gem_install.yaml
Gemfile.lock
_posts/2023-02-09-calculator.html
_posts/2024-03-30-autodesk-maya-2025-review.html
_posts/2024-03-30-autodesk-revit-2025-review-bim-software.html
_posts/2024-03-30-how-are-microchips-made.html
_posts/2024-03-31-topaz-photo-ai-review.html
_posts/2024-07-27-my-first-post.md
_posts/2024-09-15-mechatronics-engineering.html
_posts/2024-09-16-mechatronics-engineering.html
_posts/2024-12-25-enabling-latex-support-in-blogger-or.html
_posts/2024-12-26-enabling-latex-support-in-blogger-or-any-website-mathjax.html
_posts/2024-12-26-enabling-latex-support-using-katex.html
_posts/2025-01-06-welcome-to-jekyll.markdown
_posts/2025-01-09-second-post.html
blog-02-24-2025.xml
.env
