---
layout: blog
title: "Blog Grid"
postpage: class="current-menu-parent"
permalink: /posts/
---
<body>
    <main id="pmbsweb-main">
        <div class="stg-container">
            <!-- Section: Page Title -->
            <section class="backlight-bottom">
                <div class="stg-row">
                    <div class="stg-col-6 stg-offset-3">
                        <div class="align-center">
                            <h1 class="pmbsweb-page-title" data-appear="fade-up" data-unload="fade-up">My Blog</h1>
                            <p class="pmbsweb-large-text" data-appear="fade-up" data-delay="100" data-unload="fade-up">
                                Join me on a journey through the world of design, technology, and innovation. Discover
                                insights, tips, and stories that fuel creativity and drive success. Let's ignite the
                                spark of inspiration together!</p>
                                {% include search.html %}
                        </div>
                    </div>
                </div>
            </section>
            {% include blogGrid.html %}
        </div>
    </main>
</body>
