<!-- Header -->
<header id="pmbsweb-header" class="is-frosted is-sticky" data-appear="fade-down" data-unload="fade-up">
    <!-- Desktop Header -->
    <div class="pmbsweb-header-inner">
        <!-- Header Logo -->
        <div class="pmbsweb-header-lp">
            <a href="../index.html" class="pmbsweb-logo">
                <img src="../img/logo.webp" alt="pmbsweb." width="88" height="24">
            </a>
        </div>
        <!-- Main Menu -->
        <div class="pmbsweb-header-mp">
            <nav class="pmbsweb-nav">
                <ul class="main-menu" data-stagger-appear="fade-down" data-stagger-delay="75">
                    <li {{ page.homepage }}>
                        <a href="../index.html">Home</a>
                    </li>
                    <li {{ page.aboutpage }}>
                        <a href="../about-me.html">About Me</a>
                    </li>
                    <li {{ page.portfoliopage }}>
                        <a href="#">Pages</a>
                        <ul class="sub-menu">
                            <li {{ page.portfoliopage }}>
                                <a href="../portfolio/">My Portfolio</a>
                            </li>
                            <li>
                                <a href="../service-details.html">Service Details</a>
                            </li>
                            <li>
                                <a href="../pricing.html">Pricing</a>
                            </li>
                            <li>
                                <a href="../faq.html">F.A.Q.</a>
                            </li>
                            <li>
                                <a href="../testimonials.html">Testimonials</a>
                            </li>
                        </ul>
                    </li>
                    <li {{ page.postpage }}>
                        <a href="../posts.html">Blogs</a>
                    </li>
                    <li {{ page.contactpage }}>
                        <a href="../contacts.html">Contacts</a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- Header Button -->
        <div class="pmbsweb-header-rp">
            <a href="../contacts.html" class="pmbsweb-button">Get in touch</a>
        </div>
    </div>
    <!-- Mobile Header -->
    <div class="pmbsweb-mobile-header-inner">
        <a href="../index.html" class="pmbsweb-logo">
            <img src="../img/logo.webp" alt="pmbsweb." width="88" height="24">
        </a>
        <div class="pm-time">
            <span id="pm-hour">00:00:00 AM</span>
            <!-- <span id="pm-date">Saturday, 18/05/2024</span> -->
        </div>
        <a href="#" class="pmbsweb-mobile-menu-toggler">
            <i class="pmbsweb-menu-toggler-icon">
                <span></span>
                <span></span>
                <span></span>
            </i>
        </a>
    </div>
</header>