<!-- Section: Marquee -->
<section class="is-fullwidth is-stretched" data-padding="none">
    <div class="pmbsweb-marquee" data-speed="5000" data-appear="fade-up" data-delay="300"
        data-unload="fade-up">
        <div class="pmbsweb-marquee-inner">
            <ul class="pmbsweb-marquee-list">
                <li>
                    <h2>Branding</h2>
                </li>
                <li>
                    <h2>Marketing</h2>
                </li>
                <li>
                    <h2>Graphic Design</h2>
                </li>
                <li>
                    <h2>Web Design</h2>
                </li>
                <li>
                    <h2>UX/UI</h2>
                </li>
            </ul>
        </div><!-- .pmbsweb-marquee-inner -->
    </div><!-- .pmbsweb-marquee -->
</section>