<!-- Section: Counters -->
<section data-padding="bottom">
    <div class="pmbsweb-grid-4cols pmbsweb-tp-grid-2cols pmbsweb-m-grid-2cols stg-m-small-gap" data-stagger-appear="zoom-in" data-stagger-unload="zoom-out">
        <!-- Counter Item -->
        <div class="pmbsweb-counter pmbsweb-block" data-delay="3000">
            <div class="pmbsweb-counter-number" data-suffix="K+">8</div>
            <div class="pmbsweb-counter-label">Happy Customers</div>
        </div><!-- .pmbsweb-counter -->
        <!-- Counter Item -->
        <div class="pmbsweb-counter pmbsweb-block" data-delay="3000">
            <div class="pmbsweb-counter-number" data-suffix="">420</div>
            <div class="pmbsweb-counter-label">Complated Projects</div>
        </div><!-- .pmbsweb-counter -->
        <!-- Counter Item -->
        <div class="pmbsweb-counter pmbsweb-block" data-delay="3000">
            <div class="pmbsweb-counter-number" data-suffix="">24</div>
            <div class="pmbsweb-counter-label">Awwwards Won</div>
        </div><!-- .pmbsweb-counter -->
        <!-- Counter Item -->
        <div class="pmbsweb-counter pmbsweb-block is-accented" data-delay="3000">
            <div class="pmbsweb-counter-number" data-suffix="+">12</div>
            <div class="pmbsweb-counter-label">Years of Experience</div>
        </div><!-- .pmbsweb-counter -->
    </div><!-- .pmbsweb-grid -->
</section>