<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by PM -->
    <!-- Page Title -->
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="description"
        content="{% if page.description %}{{ page.description }}{% elsif post.description %}{{ post.description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="stylesheet" href="{{ " /assets/css/main.css" | relative_url }}">
    {% include head.html %}
    {% include font.html %}
</head>

<body>
    {% include header.html %}
    <hr />
    <main class="pmbsweb-main">
        <div class="stg-container">
            <section data-appear="fade-zoom" data-unload="fade-down">
                {{ content }}
            </section>
        </div>
    </main>
    <!-- <audio id="backgroundMusic" loop></audio> -->
    {% include rcp.html %}
    {% include backlight.html %}
    {% include CookiesConsent.html %}
    <!-- Footer -->
    {% include footer.html %}
</body>

</html>