<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    {% include head.html %} 
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% elsif post.description %}{{ post.description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    {% include font.html %}
  </head>
  <body>
    {% include header.html %}
    {{ content }}
    <!-- <audio id="backgroundMusic" loop></audio> -->
    {% include rcp.html %}
    {% include backlight.html %}
    {% include footer.html %}
    {% include CookiesConsent.html %}
  </body>
</html>
