<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        {% include head.html %} 
        <title>{{ page.title }} - {{ site.title }}</title>
        <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
        {% include font.html %}
      </head>
</head>
<body>
    {% include header.html %}
    <hr/>
    <main class="pmbsweb-main">
        <div class="stg-container">
          {% include postTitleDescription.html %}
          {{ content }}
        </div>
    </main>
    <hr/>
    <!-- <audio id="backgroundMusic" loop></audio> -->
    {% include rcp.html %}
    {% include backlight.html %}
    {% include footer.html %}
  </body>
</html>